@font-face {
  font-family: "pacifico";
  src: url(./fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: "zp-black";
  src: url(./fonts/ZonaPro-Black.ttf);
}
@font-face {
  font-family: "zp-extrabold";
  src: url(./fonts/ZonaPro-ExtraBold.ttf);
}
@font-face {
  font-family: "zp-semibold";
  src: url(./fonts/ZonaPro-SemiBold.ttf);
}
@font-face {
  font-family: "zp-semiboldItalic";
  src: url(./fonts/ZonaPro-SemiBoldItalic.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-image: url(../assets/cover.png);
  background-repeat: repeat-y;
  background-position: left top;
  background-size: 100% 100%;
  overflow: hidden;
  color: #ffffff;
}

/** Containers*/
.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100%;
}
.getinto {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.enjoy {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rigth-side {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/** Items*/
.logo-main {
  width: 50%;
}
.logo-text {
  width: 90px;
  height: 22px;
}
.logo-playstore {
  width: 40%;
}
.logo-appstore {
  width: 35%;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}
.img-phone {
  width: 80%;
}
.img-mask {
  width: 45%;
  height: 100%;
  background-image: url(./assets/mask.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100%;
  transform: translateY(10%);
  animation: mask-animation infinite 4s 1s;
}

/** Fonts */
p {
  font-size: 1vw;
  font-family: "zp-semibold";
  margin: 0px;
}
.blue-font {
  font-size: 2vw;
  font-family: "zp-Black";
  color: #00bed6;
}
.green-font {
  font-size: 2vw;
  font-family: "pacifico";
  color: #8cae25;
}

/**Animations */
@keyframes mask-animation {
  0% {
    transform: translateY(4%);
  }
  25% {
    transform: translateY(6%);
  }
  50% {
    transform: translateY(4%);
  }
  75% {
    transform: translateY(6%);
  }
  100% {
    transform: translateY(4%);
  }
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    overflow-y: auto;
  }
  .left-side {
    width: 100%;
  }
  .rigth-side {
    width: 100%;
  }
  .img-mask {
    background-image: url(./assets/human.png);
  }
}
@media screen and (max-width: 576px) {
  .img-mask {
    background-image: url(./assets/dino.png);
  }
}
