@font-face {
  font-family: "pacifico";
  src: url(./fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: "zp-black";
  src: url(./fonts/ZonaPro-Black.ttf);
}
@font-face {
  font-family: "zp-extrabold";
  src: url(./fonts/ZonaPro-ExtraBold.ttf);
}
@font-face {
  font-family: "zp-semibold";
  src: url(./fonts/ZonaPro-SemiBold.ttf);
}
@font-face {
  font-family: "zp-semiboldItalic";
  src: url(./fonts/ZonaPro-SemiBoldItalic.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/cover.png);
  background-repeat: repeat-y;
  background-position: left top;
  background-size: 100% 100%;
  animation-name: fadein;
  animation-duration: 2s;
  overflow: hidden;
}
.slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/** Containers*/
.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-container {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logo {
  width: 100%;
}
.getinto {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.enjoy {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
.apps {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.rigth-side {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

/** Items*/
.logo-main {
  width: 50%;
  margin-bottom: 40px;
}
.logo-text {
  width: 100px;
  height: 22px;
}
.logo-playstore {
  width: 40%;
  margin-right: 25px;
}
.logo-appstore {
  width: 35%;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-phone {
  width: 90%;
}
.img-mask {
  width: 45%;
  height: 100%;
  background-image: url(./assets/mask.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100%;
  transform: translateY(10%);
  animation: mask-animation infinite 4s 1s;
}

/** Fonts */
p {
  font-size: 1.5vw;
  font-family: "zp-semibold";
  margin: 0px;
  color: #ffffff;
}
.blue-font {
  font-size: 3vw;
  font-family: "zp-Black";
  color: #00bed6;
  margin-right: 15px;
}
.green-font {
  font-size: 3vw;
  font-family: "pacifico";
  color: #8cae25;
}

/**Animations */
@keyframes mask-animation {
  0% {
    transform: translateY(4%);
  }
  25% {
    transform: translateY(6%);
  }
  50% {
    transform: translateY(4%);
  }
  75% {
    transform: translateY(6%);
  }
  100% {
    transform: translateY(4%);
  }
}
@keyframes body-animation {
  0% {
    transform: translateY(89%);
  }
  25% {
    transform: translateY(90%);
  }
  50% {
    transform: translateY(89%);
  }
  75% {
    transform: translateY(90%);
  }
  100% {
    transform: translateY(89%);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    flex-direction: column;

    overflow-y: auto;
  }
  .left-side {
    width: 100%;
  }
  .rigth-side {
    width: 100%;
    height: 70%;
  }
  .img-mask {
    width: 35%;
    height: 350px;
    position: relative;
    background-image: url(./assets/human.png);
    transform: translateY(97%);
    animation: body-animation infinite 4s 1s;
  }
  .img-phone {
    width: 50%;
  }
  .steps {
    margin-bottom: 5%;
  }

  /*Fonts*/
  .getinto {
    width: 95%;
  }
  p {
    font-size: 3vw;
  }
  .blue-font,
  .green-font {
    font-size: 6vw;
  }
}
@media screen and (max-width: 576px) {
  .img-mask {
    height: 250px;
    background-image: url(./assets/dino.png);
  }
  .rigth-side {
    height: 50%;
  }
  .slider {
    justify-content: end;
    overflow-y: auto;
  }
}
